.main-container form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	gap: 1em;

	font-size: 20px;

	input {
		border: 2px solid transparent;
		border-radius: 6px;

		padding: 4px;

		font-size: 16px;
		background-color: #E5E5E5;

		outline: none;

		&:hover {
			border-color: $primary-color;
		}
		
		&:focus {
			border-color: $primary-color;
			background-color: $input-bg-color;
		}
	}

	input:read-only {
		cursor: default;

		&:hover {
			border-color: transparent;
		}
		
		&:focus {
			border-color: transparent;
			background-color: #E5E5E5;
		}
	}

	button {
		margin-top: .5em;

		align-self: flex-end;

		padding: 6px 14px;

		font-size: 18px;
		font-weight: 700;
		color: $color-white;

		border: none;
		border-radius: 6px;

		cursor: pointer;

		background-color: $btn-primary-color;
		
		&:hover {
			background-color: $btn-primary-color-hover;
		}
		
		&:active {
			box-shadow: inset 2px 2px 4px #6d4700;
			background-color: $btn-primary-color-hover;
		}
	}

	.form-btns {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;

		gap: 1rem;

		:first-child {
			background-color: $btn-secondary-color;
		
			&:hover {
				background-color: $btn-secondary-color-hover;
			}
			
			&:active {
				box-shadow: inset 2px 2px 4px #550000;
				background-color: $btn-secondary-color-hover;
			}
		}
	}
}