$main-font: 'Oxygen', sans-serif;

$primary-bg-color: #f5f5f5;
$dark-bg-color: #333;

$primary-color: #ffa500;
$color-white: #f5f5f5;
$color-white-secondary: #F7FFF7;

$input-bg-color: #CCCCCC;
// $btn-primary-color: #0c60c0;
$btn-primary-color: $primary-color;
$btn-primary-color-hover: #b17300;

$link-color: #0D0628;
$link-color-hover: #0d062886;